.main-info p
{
    font-size: 23px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: justify;
}
p
{
    font-size: 23px;;
}
.main-info
{
    text-align: center;
}
.main-info img
{
    width: 500px;
    margin-top: 50px;
}